html, body {
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

* {-moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;}

noscript,
#incompatible {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 79000;
  background: #111;
  text-align: center;
  overflow: hidden;
}

.ns-logo {
  display: inline-block;
  width: 300px;
  height: 72px;
  margin-top: 30px;
  background: url("img/logobig.png");
}

.ns-banner {
  background: #c00;
  color: #111;
  font: 28px "Squada One";
  white-space: nowrap;
  margin: 25px -200px 0 -200px;
  -webkit-transform: rotate(-5deg);
  -moz-transform: rotate(-5deg);
  transform: rotate(-5deg);
}

#incompatible .ns-banner {
  background: #498aeb;
}

.ns-description {
  color: #fff;
  font: 20px Raleway;
  max-width: 600px;
  margin: 70px auto 0 auto;
}

.ns-description a {
  color: #498aeb;
}

#print {
  display: none;
}

.crispEdges canvas {
  image-rendering:-moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering:-webkit-optimize-contrast;
  -ms-interpolation-mode:nearest-neighbor;
}

.nospan span { display: none; }
.outline img { visibility: hidden; }
#scratch { position: absolute; width: 1px; height: 1px; left: -5000px; top: -5000px; overflow: hidden;}

#editor {
  position: absolute;
  top: 0;
  right: 120px;
  left: 0;
  bottom: 0;
  overflow: hidden;
  opacity: 1;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}

#editor.fade {
  background: rgba(0,0,0,0.0);
  opacity: 0;
}

.hidden {
  opacity: 0;
  visibility: hidden;
}



/* Backgrounds */
#bg {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
}

#bg:before,
.bg:before {
  content: '';
  position: absolute;
  top: 0; left: 0px; right: 0px; bottom: 0px;
}

#bg:after,
.bg:after {
  content: '';
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background-image: -webkit-gradient(radial, 50% 0%, 0, 50% 0%, 325, color-stop(10%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0,0,0,0.7)));
  background-image: -webkit-radial-gradient(center top, farthest-corner circle, rgba(0, 0, 0, 0) 10%, rgba(0,0,0,0.7) 100%);
  background-image: -moz-radial-gradient(center top, farthest-corner circle, rgba(0, 0, 0, 0) 10%, rgba(0,0,0,0.7) 100%);
  background-image: -ms-radial-gradient(center top, farthest-corner circle, rgba(0, 0, 0, 0) 10%, rgba(0,0,0,0.7) 100%);
  background-image: -o-radial-gradient(center top, farthest-corner circle, rgba(0, 0, 0, 0) 10%, rgba(0,0,0,0.7) 100%);
  background-image: radial-gradient(farthest-corner circle at center top, rgba(0, 0, 0, 0) 10%, rgba(0,0,0,0.7) 100%);
}

#bg div,
.bg div {
  width: 100%;
  height: 90px;
  opacity: 0.3;
}

#stageBg {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

#stageBg .bg {
  width: 100%;
  margin-top: -54px;
}

/* Header */
header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 52px;
  z-index: 6;
  background: rgba(0,0,0,0.1);
  border-bottom: 1px solid rgba(0,0,0,0.3);
}

#logo {
  position: relative;
  z-index: 6;
  top: 4px;
  left: 8px;
  width: 120px;
  height: 39px;
  background: url("img/logo.png") center no-repeat;
  cursor: pointer;
}

.photoBehind {
  position: absolute;
  top: 0;
  left: 0;

  right: 0;
  bottom: 0;
  overflow: hidden;
}

#photoBehindHeader {
  position: absolute;
  margin-top: 54px;
  margin-left: 0px;
  -webkit-transform-origin: top left;
  -moz-transform-origin: top left;
  transform-origin: top left;
}

#photoBehindHeader canvas {
  position: relative;
  top: -20px;
  left: -20px;
  opacity: 0.5;
}

/* Platform stuff */

#macShortcuts {
  display: none;
}

.mac #winShortcuts {
  display: none;
}

.mac #macShortcuts {
  display: block;
}

/* Tool Buttons */

#tools {
  position: absolute;
  top: 0;
  left: 140px;
  height: 53px;
}

.tool {
  position: relative;
  float: left;
  overflow: hidden;
  width: 72px;
  height: 52px;
  cursor: pointer;
}

#toolProperties {
  position: absolute;
  top: 0;
  left: 116px;
}

.colorPickers,
.weightPicker {
  float: left;
  margin-left: 22px;
  margin-top: -4px;
}

.colorPickers {
  margin-left: 16px;
}

.colorPicker {
  float: left;
}

.colorPickerLine,
.colorPickerFill {
  position: absolute;
  top: 0;
  left: 0;
}

.toolOptions {
  position: relative;
  float: left;
  width: 0;
  overflow: hidden;
  height: 52px;
  cursor: pointer;
  -webkit-transition: 0.3s width;
  -moz-transition: 0.3s width;
  transition: 0.3s width;
}

.toolOptions.active {
  width: 16px;
  overflow: visible;
}

/* Arrow on toolOptions */
.toolOptions:before {
  content: '';
  width: 0;
  height: 0;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  border-top: 4px solid #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -2px;
  margin-left: -4px;
}

.tool.active {
  background-image: -webkit-gradient(linear, center top, center bottom, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(80%, rgba(255, 255, 255, 0.1)));
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.1) 80%);
  background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.1) 80%);
  background-image: -ms-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.1) 80%);
  background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.1) 80%);
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.1) 80%);
}

.toolOptions {
  background-image: -webkit-gradient(linear, center top, center bottom, color-stop(0%, rgba(0,0,0,0.15)), color-stop(80%, rgba(0,0,0,0.45)));
  background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.15) 0%, rgba(0,0,0,0.45) 80%);
  background-image: -moz-linear-gradient(top, rgba(0,0,0,0.15) 0%, rgba(0,0,0,0.45) 80%);
  background-image: -ms-linear-gradient(top, rgba(0,0,0,0.15) 0%, rgba(0,0,0,0.45) 80%);
  background-image: -o-linear-gradient(top, rgba(0,0,0,0.15) 0%, rgba(0,0,0,0.45) 80%);
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.15) 0%, rgba(0,0,0,0.45) 80%);
}

.tool.active:before,
.tool.active:after,
.toolOptions.active:after {
  content: '';
  position: absolute;
  width: 1px;
  top: 0;
  left: 0px;
  bottom: 0;

  background-image: -webkit-gradient(linear, center top, center bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.5)));
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
  background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
}

.tool.active:after,
.toolOptions.active:after {
  left: auto;
  right: 0px;
}

.toolIcon {
  position: relative;
  margin: 10px auto 0 auto;
  top: 0;
  width: 32px;
  height: 32px;
  background: url("img/toolicons.png");
  -webkit-transition: top 0.25s cubic-bezier(0.465, 0.270, 0.065, 1.460);
  -moz-transition: top 0.25s cubic-bezier(0.465, 0.270, 0.065, 1.460);
  transition: top 0.25s cubic-bezier(0.465, 0.270, 0.065, 1.460);
}

.tool:hover .toolIcon {
  top: 52px;
}

/*.tool.active .toolIcon {
  top: 0px !important;
}*/

.toolIcon.crop { background-position: top left; }
.toolIcon.brush { background-position: top right; }
.toolIcon.rectangle { background-position: 0 -32px; }
.toolIcon.ellipse { background-position: -32px -32px; }
.toolIcon.text { background-position: 0 -64px; }
.toolIcon.focus { background-position: -32px -64px; }
.toolIcon.blur { background-position: -32px -96px; }
.toolIcon.icons { background-position: 0 -96px; }
.toolIcon.line { background-position: 0 -128px; }
.toolIcon.hand { background-position: -32px -128px; }
.toolIcon.star { background-position: 0px -160px; }


.tool .toolKey {
  position: absolute;
  -webkit-transition: bottom 0.25s cubic-bezier(0.465, 0.270, 0.065, 1.460);
  -moz-transition: bottom 0.25s cubic-bezier(0.465, 0.270, 0.065, 1.460);
  transition: bottom 0.25s cubic-bezier(0.465, 0.270, 0.065, 1.460);
  bottom: 52px;
  left: 0;
  right: 0;
  color: #fff;
  text-align: center;
  font: 16px Squada One;
  text-shadow: 0 0 4px black;
  text-transform: uppercase;
}

.tool:hover .toolKey {
  bottom: 2px;
  pointer-events: none;
}


/*.tool.active .toolKey {
  bottom: 52px;
}*/

.tool .toolKey:before {
  position: absolute;        
  top: -28px;
  left: 50%;
  margin-left: -16px;
  content: attr(data-key);
  padding-top: 1px;
  height: 21px;
  width: 28px;
  font-family: Contrail One;
  border-radius: 4px;
  text-align: center;
  border: 2px solid #fff;
  text-shadow: 0 0 4px black;
  box-shadow: 0 0 4px black, inset 0 0 4px black;        
}

.toolOptionsContainer {
  position: absolute;
  top: 100%;
  right: 0;
  width: 200px;
  padding: 8px 0;
  display: none;
  background: rgba(18,18,18,0.97);
  box-shadow: 0 3px 10px rgba(0,0,0,0.75);
  cursor: default;
}

.open .toolOptionsContainer {
  display: block;
}

.toolOptionRow {
  padding: 8px 12px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  transition: 0.2s background-color;
  background-color: rgba(255,255,255,0);
}

.toolOptionRow:hover {
  background-color: rgba(200,200,200,0.08);
}

.toolOptionCheck {
  position: relative;
  float: left;
  width: 20px;
  height: 20px;
  margin-right: 8px;
  border-radius: 3px;
  background: #282828;
  box-shadow: 0 0 4px rgba(0,0,0,0.3);
}

.toolOptionCheck.state-true:before {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -3px 0 0 -3px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #fff;
}

.toolOptionRow label {
  font: 200 16px Raleway;
  color: #fff;
}

/* Stage / Canvases */



#stage,
#blurStage {
  position: absolute;
  top: 53px;
  bottom: 42px;
  left: 0;
  right: 0;
  z-index: 5;
  overflow: hidden;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  /*background: rgba(255,255,255,0.3);*/
}

#blurStage {
  z-index: 3;
  overflow: visible;
}

#stageInner,
#blurStageInner {
  position: absolute;
  z-index: 5;
  overflow: hidden;
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  transform-origin: 0 0;
}

#stageInner {
  background: url("img/trans.png") center;
  box-shadow: 0 0 30px rgba(0,0,0,0.5);
}

.crosshaired #stage {
  cursor: crosshair;
}

.texting #stage {
  cursor: text;
}

.texting .textBox {
  cursor: move;
  border: 1px solid #2d8bff;
  box-shadow: 0 0 0px 1px rgba(0,0,0,0.5), inset 0 0 0px 1px rgba(0,0,0,0.5);
}

#blurStageInner {
  z-index: 3;
  /*opacity: 0.7;*/
  overflow: visible;
}

.scrollable #stage {
  right: 16px;
  bottom: 58px;
  box-shadow: 3px 3px 5px rgba(0,0,0,0.5);
}

#stageVerticalScroll {
  position: absolute;
  top: 53px;
  right: 0;
  bottom: 42px;
  width: 0px;
  background: rgba(0,0,0,0.4);  
  z-index: 15;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

#stageVerticalScrollbar {
  position: absolute;
  top: 16px;
  left: 0;
  height: 50%;
  width: 16px;
  overflow: hidden;
  border-bottom: 1px solid rgba(0,0,0,0.5);
  border-top: 1px solid rgba(0,0,0,0.5);
  box-shadow: inset 3px 0 5px rgba(0,0,0,0.3);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: rgba(200,200,200,0.5);
}

.scrollable #stageVerticalScroll {
  width: 16px;
}

#stageHorizontalScroll {
  position: absolute;
  bottom: 100%;
  right: 0px;
  left: 0;
  height: 0px;
  background: rgba(0,0,0,0.4);
  z-index: 15;
  overflow: hidden;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.scrollable #stageHorizontalScroll {
  height: 16px;
  right: 16px;
}

#stageHorizontalScrollbar {
  position: absolute;
  left: 16px;
  top: 0;
  width: 50%;
  height: 16px;
  border-right: 1px solid rgba(0,0,0,0.5);
  border-left: 1px solid rgba(0,0,0,0.5);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  box-shadow: inset 0 3px 5px rgba(0,0,0,0.3);
  background: rgba(200,200,200,0.5);
}

#highlightOverlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.75);
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  transition: opacity 0.5s;
  opacity: 0;
}

.highlighting #highlightOverlay {
  opacity: 1;
}

#stage canvas,
#stage img {
  position: absolute;
  top: 0;
  left: 0;
}

.canvas-composition {
  visibility: hidden;
}

#stage.composition canvas {
  visibility: hidden;
}

#stage.composition .canvas-composition {
  visibility: visible;
}

/* This is kinda stupid, but Chrome has a bug where the above .composition stuff doesn't work correctly and adding this meaningless css fixes it */
/* Text-transform used only because it has no result on #stageInner which literally contains no text */
#stage.composition #stageInner {
  text-transform: uppercase;
}

#eyedropperCursor {
  position: absolute;
  top: -2000px;
  left: -2000px;
  width: 100px;
  height: 100px;
  margin-top: -53px; /* Account for header */
  z-index: 7330;
  -webkit-pointer-events: none;
  -moz-pointer-events: none;
  pointer-events: none;
}

#eyedropperCursor canvas {
  position: absolute;
  top: 0;
  left: 0;
  visibility: visible !important;

}

#preloader {
  position: absolute;
  z-index: 10;
  top: 0px; left: 0; right: 0; bottom: 0px;
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  perspective: 1000px;
  display: none;
}

#preloader {
  display: block;
}

#preloader3d {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-perspective: 1500px;
  -moz-perspective: 1500px;
  perspective: 1500px;
}

#preloaderContent {
  position: absolute;
  left: 50%;
  top: 50%;
}

#preloaderContent img {
  vertical-align: top;
  padding: 0;
  box-shadow: 0 0 30px rgba(0,0,0,0.5);
}

.done #preloaderContent {
  -webkit-transform: rotateY(720deg);
  -moz-transform: rotateY(720deg);
  transform: rotateY(720deg);
}

/* Footer */
footer {
  position: absolute;
  z-index: 6;
  height: 42px;
  bottom: 0px;
  left: 0;
  right: 0;
  background: rgba(0,0,0,0.0);
  border-top: 1px solid rgba(0,0,0,0.4);
}

#footerContent {
  position: relative;
  height: 42px;
  padding-left: 10px;
  background-image: -webkit-gradient(linear, center top, center bottom, color-stop(0%, rgba(0, 0, 0, 0.4)), color-stop(100%, rgba(0, 0, 0, 0)));
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 100%);
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 100%);
  background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 100%);
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 100%);
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 100%);
}

.footerButton {
  float: left;
  margin-right: 5px;
  background: rgba(18,18,18,0.5);
  -webkit-transition: opacity 0.25s, -webkit-box-shadow 0.1s;
  -moz-transition: opacity 0.25s, -moz-box-shadow 0.1s;
  transition: opacity 0.25s, box-shadow 0.1s;
}

.footerButton.available:active,
.zoomButton:active {
  box-shadow: inset 0 5px 12px rgba(0,0,0,0.4);
}

.footerButton div,
.zoomButton div {
  -webkit-transition: -webkit-transform 0.1s;
  -moz-transition: -moz-transform 0.1s;
  transition: transform 0.1s;
}

.footerButton.available:active div,
.zoomButton:active div {
  -webkit-transform: scale(0.91);
  -moz-transform: scale(0.91);
  transform: scale(0.91);
}

#undo,
#redo {
  display: inline-block;
  width: 48px;
  height: 42px;
  background: url("img/undo.png") center no-repeat;
  opacity: 0.3;
}

.available #undo,
.available #redo {
  cursor: pointer;
}

#redo {
  background-image: url("img/redo.png");
}

.available #undo,
.available #redo {
  opacity: 1;
}

#zoomer {
  position: absolute;
  top: 0px;
  right: 1px;
}

#zoomer .zoomButton {
  position: relative;
  float: left;
  height: 42px;
  margin: 0 5px 0 0;
  padding: 0 15px;
  background: rgba(18,18,18,0.5);
  font: 16px Squada One;
  line-height: 42px;
  text-transform: uppercase;
  color: #ddd;
  -webkit-transition: color 0.2s, -webkit-box-shadow 0.1s;
  -moz-transition: color 0.2s, -moz-box-shadow 0.1s;
  transition: color 0.2s, box-shadow 0.1s;
}

#zoomer .zoomButton:hover {
  color: #fff;
  cursor: pointer;
}

#zoomTrack {
  position: relative;
  float: left;
  height: 42px;
  width: 200px;
  background: rgba(18,18,18,0.5);
  margin: 0 13px 0 5px;
  cursor: pointer;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  background-clip: padding-box;
}

#zoomTrack:before {
  content: '';
  position: absolute;
  top: 0;
  height: 100%;
  right: 100%;
  width: 5px;
  background: rgba(18,18,18,0.5);
}

#zoomTrack:after {
  content: '';
  position: absolute;
  top: 0;
  height: 100%;
  left: 100%;
  width: 8px;
  z-index: 4;
  background: rgba(18,18,18,0.5);
}

#zoomKnob {
  position: absolute;
  background: rgba(255,255,255,0.7);
  left: 40%;
  top: 3px;
  width: 3px;
  border-radius: 2px;
  height: 36px;
  z-index: 5;
  -webkit-transition: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  transition: background-color 0.2s;
}

#zoomTrack:hover #zoomKnob {
  background: rgba(255,255,255,1);
}



#zoomValueContainer {
  position: relative;
  float: left;
  width: 65px;  
  height: 42px;
  border: 0;
  background: rgba(18,18,18,0.5);
  text-align: center;
}

#zoomValue {
  font: 16px Contrail One;
  line-height: 42px;
  color: #fff;
  cursor: default;
}

#zoomValue:after {
  content: '%';
  opacity: 0.5;
}

#textSidebar {
  position: absolute;
  z-index: 14000;
  left: -200px;
  top: 54px;
  bottom: 36px;
  background: rgba(0,0,0,0.45);
  box-shadow: inset -10px 0 30px rgba(0,0,0,0.6);
  width: 200px;
  -webkit-transition: left 1s cubic-bezier(0.770, 0.000, 0.175, 1.000);
  -moz-transition: left 1s cubic-bezier(0.770, 0.000, 0.175, 1.000);
  transition: left 1s cubic-bezier(0.770, 0.000, 0.175, 1.000);
}

.scrollable #textSidebar {
  bottom: 40px;
}

#textSidebar.active {
  left: 0px;
}

#downloadButton {
  position: absolute;
  top: 100px;
  right: 10px;
  z-index: 801293;
  background: blue;
}



.colorPicker { 
  position: relative;
  margin: 9px;
  width: 102px;
  height: 35px;
  float: left;
}

.colorPicker canvas {
  vertical-align: middle;
}

.colorPickerShadow,
.colorPickerFill,
.colorPickerLine {
  position: absolute;
  top: 0;
  left: 0;
  width: 102px;
  height: 35px;
  background: url("img/colorpickers.png") bottom left;
}

.colorPickerFill,
.colorPickerLine { background: transparent; }

.colorPickerFill {
  z-index: 20;
  pointer-events: none;
}

.brush .colorPickerShadow { background-position: -102px -70px; }
.rectangle .colorPickerShadow { background-position: -204px -70px; }
.ellipse .colorPickerShadow { background-position: -306px -70px; }
.star .colorPickerShadow { background-position: -408px -70px; }

.colorPickerLine span,
.colorPickerFill span {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index: 6;
  cursor: pointer;
  pointer-events: all;
}

.colorPickerFill span {
  z-index: 10;
  left: 0;
  right: auto;
  width: 50%;
}

#colorPicker {
  position: absolute;
  bottom: 54px;
  left: 0px;
  margin-left: 5px;
  padding: 5px;
  z-index: 308;
  background: rgba(22,22,22,0.8);
  border-radius: 6px;
}

#colorPicker:after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -12px;
  margin-left: -13px;
  width: 0;
  height: 0;
  border-top: 12px solid rgba(22,22,22,0.8);
  border-left: 13px solid transparent;
  border-right: 13px solid transparent;
  z-index: 5;
}

#noColorButton {
  width: 120px;
  height: 25px;
  background: url("img/trans-button.png");
  margin-bottom: 5px;
  text-align: center;
  font: 16px "Squada One";
  color: #919191;
  line-height: 25px;
  border-radius: 3px;
  cursor: pointer;
}

#noColorButton:hover {
  color: #bbb;

}

#colors {
  position: relative;
  width: 120px;
  height: 220px;
  border-radius: 3px;
  background: url("img/colors.png");
  margin-bottom: 5px;
}


#hex {
  float: left;
  width: 90px;
  height: 25px;
  margin-right: 5px;
  background: #fff;
  box-shadow: inset 0 0 20px #bebebe;
  border-radius: 3px;
}

#hex input {
  padding: 3px 0;
  width: 100%;
  background: transparent;
  border: 0px;
  text-align: center;
  font: 16px "Contrail One";
  color: #333;
}

#eyeDropper {
  float: left;
  width: 25px;
  height: 25px;
  background: #333;
  box-shadow: inset 0 0 10px rgba(0,0,0,0.2);
  border-radius: 3px;
  cursor: pointer;
}

#eyeDropper div {
  width: 100%;
  height: 100%;
  background: url("img/eyedropper.png") center no-repeat;
  opacity: 0.6;
}

#eyeDropper:hover div {
  opacity: 1;
}






.colorSwatch {
  display: inline-block;
  width: 28px;
  height: 16px;
  margin-top: 3px;
  border-radius: 3px;
  border: 1px solid rgba(255,255,255,0.15);
  background: #ff4500;
  cursor: pointer;
}

.footerBlock label {
  position: relative;
  top: -4px;
  margin: 0 15px 0 5px;
  font: 13px "Contrail One";
  color: #fff;
  color: rgba(255,255,255,0.7);
}




/* Intro Page */



#introduction {
  position: absolute;
  top: 0;
  width: 100%;
  right: 0;
  bottom: 0;
  z-index: 9000;
  overflow: hidden;
}

#intro-sider {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  background: #161616;
  width: 220px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-right: 1px solid rgba(0,0,0,0.1);
}

#globalBurrito {
  position: absolute;
  right: 0;
  top: 0;
  width: 120px;
  height: 100%;
  background: rgba(22,22,22,0.9);
  z-index: 10200;
}

#globalBurrito img {
  vertical-align: middle;
}

#intro-logo {
  width: 156px;
  height: 35px;
  margin: 40px auto 50px auto;
  background: url("img/intro-logo.png");
}

#intro-pitch {
  text-align: center;
  font: 200 14px Raleway;
  color: #fff;
}

#feedback {
  position: absolute;
  bottom: 12px;
  width: 100%;
  font: 14px Raleway;
  color: #fff;
  text-decoration: none;
  text-align: center;
}

#thinkingBig {
  position: absolute;
  bottom: 40px;
  left: 21px;
  background: url("img/tb.png");
  width: 178px;
  height: 82px;
  text-decoration: none;
}

#intro-cols {
  position: absolute;
  top: 0;
  right: 120px;
  left: 220px;
  bottom: 0;
  background: rgba(0,0,0,0.20);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.intro-col {
  position: relative;
  float: left;
  height: 100%;  
  width: 28%;
  padding: 75px 1% 20px 1%;
  background: rgba(22,22,22,0.17);
  border-right: 1px solid rgba(0,0,0,0.03);
  border-left: 1px solid rgba(0,0,0,0.03);
  /*box-shadow: inset 0 0 25px rgba(22,22,22,0.3);*/
  margin-right: 3%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#intro-cols .intro-col:first-child {
  margin-left: 5%;
}


.intro-col:hover {
  /*box-shadow: inset 0 0 30px rgba(255,255,255,0.25);*/
}

.pasteUnsupported #intro-clipboard {
  display: none;
}

.pasteUnsupported .intro-col {
  width: 43%;
}


.intro-col-icon {
  width: 130px;
  height: 150px;
  margin: 0 auto 30px auto;
  background: url("img/icon-clipboard.png");
}

#intro-blank .intro-col-icon {
  background: url("img/icon-blankcanvas.png");
}

#intro-dragdrop .intro-col-icon {
  background: url("img/icon-dragdrop.png");
}

.intro-col-title {
  text-align: center;
  font: 40px "Squada One";
  margin-bottom: 15px;
  color: #fff;
  cursor: default;
  text-shadow: -1px -1px 0px rgba(0,0,0,0.5);
}

.intro-col-subtitle {
  text-align: center;
  font: 200 16px Raleway;
  height: 40px;
  color: #fff;
  cursor: default;
  text-shadow: -1px -1px 0px rgba(0,0,0,0.5);
  margin: 0 0 25px 0;
}


.canvas-size-value {
  position: relative;
  margin: 0 auto;
  width: 96%;
  height: 58px;
  background: #121212;
  border-radius: 6px;
}

.canvas-size-button {
  position: absolute;
  width: 36px;
  height: 100%;
  top: 0;
  right: 0;
  cursor: pointer;
}

.canvas-size-button:hover {
  background: #222;
  border-radius: 0 5px 5px 0;
}

.canvas-size-button:after {
  content: '';
  position: absolute;
  top: 47%;
  right: 12px;
  width: 0;
  height: 0;
  border-right: 7px solid transparent;
  border-left: 7px solid transparent;
  border-top: 6px solid #fff;
}

.canvas-size-option {
  position: relative;
  font: 200 24px Raleway;
  color: #fff;
  line-height: 58px;
  padding: 0 20px;
  cursor: default;
  display: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.canvas-size-option.selected {
  display: block;
}

.canvas-size-options {
  position: absolute;
  left: 100%;
  bottom: 0;
  margin-left: 12px;
  width: 210px;
  background: #121212;
  border-radius: 6px;
  z-index: 90000;
  display: none;
}

.opened .canvas-size-options {
  display: block;
}

.canvas-size-options:after {
  content: '';
  position: absolute;
  bottom: 21px;
  left: -7px;
  border-right: 7px solid #121212;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
}

.canvas-size-options .canvas-size-option {
  position: relative;
  display: block;
  padding: 0 14px;
  font-size: 20px;
  line-height: 44px;
  cursor: pointer;
}

.canvas-size-options .canvas-size-option:last-child:hover:before {
  content: '';
  position: absolute;
  bottom: 21px;
  left: -7px;
  border-right: 7px solid #086ad9;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  z-index: 15;
}

.canvas-size-options .canvas-size-option.selected:after {
  content: '';
  position: absolute;
  right: 10px;
  top: 19px;
  width: 6px;
  height: 6px;
  background: #eee;
  border-radius: 50%;
}

.canvas-size-options .canvas-size-option:hover {
  background: #086ad9;
}

.canvas-size-options .canvas-size-option:first-child {
  border-radius: 5px 5px 0 0;
}

.canvas-size-options .canvas-size-option:last-child {
  border-radius: 0px 0px 5px 5px;
}

#customCanvasSizeInput {
  height: 58px;
}

.canvas-size-option input {
  position: relative;
  top: -0px;
  float: left;
  height: 58px;
  width: 58px;
  line-height: 58px;
  background: #2d2d2d;
  border: 0;
  padding: 0 5px;
  outline: none;
  font: 200 24px Raleway;
  color: #fff;
  text-align: center;
  z-index: 4;
}

.canvas-size-option span {
  float: left;
  text-align: center;
  font: 200 18px Raleway;
  color: #999;
  line-height: 58px;
  vertical-align: middle;
  height: 58px;
  margin: 0 -3px;
  padding: 0 8px;
}


.canvas-create-row {
  position: relative;
  height: 58px;
  width: 96%;
  margin: 10px auto 0 auto;
}

#createCanvasBgButton {
  position: relative;
  width: 58px;
  height: 58px;
  background: #121212;
  border-radius: 6px;
  cursor: pointer;
}

#createCanvasBgButton:hover {
  background: #222;
}

#createCanvasBgSwatch {
  position: absolute;
  top: 15px;
  right: 15px;
  left: 15px;
  bottom: 15px;
  border-radius: 3px;
}

#createCanvasBgSwatch.trans {
  background: url("img/trans.png") center !important;
}

#createCanvasContainer {
  position: absolute;
  top: 0;
  right: 0;
  left: 68px;
  bottom: 0;
}

#createCanvas {
  background: #121212;
  width: 100%;
  height: 100%;
  border-radius: 6px;
  font: 200 20px Raleway;
  color: #fff;
  outline: none !important;
  border: 0;
  line-height: 58px;
  text-align: center;
  cursor: pointer;
  overflow: hidden;
}

#createCanvas:hover,
#createCanvas:focus {
  background: #086ad9;
}


#canvasBgColorPicker {
  position: absolute;
  right: 100%;
  top: -232px;
  margin-right: 15px;
  width: 144px;
  height: 290px;
  background: #aaa;
  border-radius: 6px;
  cursor: default;
}

#canvasBgColorPicker:after {
  content: '';
  position: absolute;
  bottom: 21px;
  right: -7px;
  border-left: 7px solid #aaa;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
}

#canvasBgColorPickerColors {
  width: 120px;
  height: 220px;
  background: url("img/colors.png");
  border-radius: 3px 3px 0 0;
  margin: 12px 12px 0 12px;
  cursor: pointer;
}

#canvasBgColorPickerTrans {
  width: 120px;
  height: 20px;
  background: url("img/trans.png");
  border-radius: 0 0 3px 3px;
  cursor: pointer;
  margin: 0 auto;
}

#canvasBgColorPicker input {
  background: transparent;
  outline: none;
  border: 0;
  width: 100%;
  text-align: center;
  cursor: text;
  font: 22px "Contrail One";
  line-height: 28px;
  color: #222;
  text-transform: uppercase;
  margin: 3px 0 0 0;
  padding: 3px 0;
  border-radius: 0 0 5px 5px;
}

#canvasBgColorPicker input:focus {
  background: #fff;

}


.keyboard-shortcuts {
  border-bottom: 1px solid rgba(255,255,255,0.18);
}

.shortcut {
  clear: both;
  border-top: 1px solid rgba(255,255,255,0.18);
}

.shortcut-action {
  font: 200 18px Raleway;
  line-height: 36px;
  color: #fff;
  padding: 0 10px;
}

.shortcut-keys {
  float: right;
  padding: 8px 10px 7px 0;
  font: 16px "Squada One";
  color: rgba(255,255,255,0.5);
}

.shortcut-keys span {
  /*position: relative;
  color: #ddd;*/
  font: 15px "Contrail One";
  color: #fff;
  /*display: inline-block;
  letter-spacing: 0px;
  background: rgba(26,26,26,0.8);
  padding: 3px 6px 2px 6px;
  margin: 0;
  border-radius: 3px;*/
}

.intro-fake-dropzone {
  background: rgba(22,22,22,0.0);
  width: 96%;
  margin: 15px auto;
  border-radius: 12px;
  border: 3px dashed rgba(255,255,255,0.3);
  font: 18px "Contrail One";
  color: #ccc;
  text-align: center;
  padding: 40px 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}





/* Save UI */


#editorSaveButtons {
  position: absolute;
  top: 0;
  right: 0;
  height: 52px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

#editorSaveButtons .saveButton {
  position: relative;
  background: rgba(18,18,18,0.5) url("img/saveIcons.png") left;
  width: 58px;
  height: 52px;
  float: left;
  margin-right: 1px;
  cursor: pointer;
  -webkit-box-sizing: padding-box;
  -moz-box-sizing: padding-box;
  box-sizing: padding-box;
}

#editorSaveButtons .saveButton:hover {
  box-shadow: inset 0 -3px 0px rgba(255,255,255,0.6);
}

#saveOptions.saveButton {
  width: 24px;
  background-image: none;
}

#saveOptions #saveOptionsPanel {
  background: rgba(18,18,18,0.97);
  box-shadow: 0 3px 10px rgba(0,0,0,0.75);
  cursor: default;
  padding: 0 8px 8px 8px;
  position: absolute;
  right: 0;
  top: 100%;
  width: 300px;
  display: none;
}

#saveOptions.opened #saveOptionsPanel {
  display: block;
}

#saveOptions:before {
  content: '';
  width: 0;
  height: 0;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  border-top: 4px solid #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -2px;
  margin-left: -4px;
}

#saveToImgur.saveButton {
  background-position: center;
}

#saveToLocal.saveButton {
  background-position: right;
}

#downloadLocal {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  cursor: pointer;
}





.outputFormatButton {
  width: 110px;
  height: 40px;
  font: 20px "Squada One";
  line-height: 40px;
  color: #8b8b8b;
  background: #181818;
  text-align: center;
  text-shadow: -1px -1px 0px rgba(0,0,0,0.75);
  border-radius: 6px;
  display: inline-block;
  cursor: pointer;
  border: 1px solid #222;
}

.outputFormatButton:hover {
  color: #bbb;
}

.outputFormatButton:active {
  box-shadow: inset 0 5px 10px rgba(0,0,0,0.5);
}

.outputFormatButton.selected {
  background: #5a9537;
  border: 1px solid #5a9537;
  color: #fff;
}

#qualityTrack {
  margin: 0 auto;
  position: relative;
  height: 31px;
  width: 300px;
  overflow: hidden;
}

#qualityKnob {
  position: relative;
  left: 150px;
  width: 25px;
  height: 25px;
  font: 14px "Squada One";
  color: #fff;
  text-align: center;
  line-height: 24px;
  cursor: pointer;
  border-radius: 50%;
  border: 3px solid #fff;
}

#qualityKnob:before,
#qualityKnob:after {
  content: '';
  width: 300px;
  height: 3px;
  background: #fff;
  position: absolute;
  top: 11px;
  right: 100%;

}

#qualityKnob:after {
  left: 100%;
  right: auto;
}

.saveUI-label {
  font: 18px "Squada One";
  color: #fff;
  margin: 10px 0;
}

#saveFilename {
  background: #2D2D2D;
  color: #fff;
  font: 200 18px Raleway;
  outline: none;
  border: 0;
  padding: 10px;
  width: 280px;
  border-radius: 5px;
}

#saveFilename.default {
  color: #777;
}




/* Ascension Overlay */

#ascensionOverlay {
  position: absolute;
  z-index: 82000;
  background: rgba(0,0,0,0.5);
  opacity: 1;
  top: 0; left: 0; right: 0; bottom: 0;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}

#ascensionOverlay.fade {
  background: rgba(0,0,0,0.0);
  opacity: 0;
}

#ascension {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 128px;
  height: 128px;
  margin: -64px 0 0 -64px;
}

#ascensionIcon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 12;
  background: url("img/ascensionIcons.png") left;
}

.imgur #ascensionIcon {
  background-position: right;
}

#ascensionLabel {
  position: absolute;
  top: 50%;
  margin-top: 115px;
  width: 100%;
  text-align: center;
  font: 200 38px Raleway;
  color: rgba(255,255,255,0.8);
}


#completeScreen {
  position: absolute;
  top: 0;
  left: 0;
  right: 120px;
  bottom: 0;
  text-align: center;
  overflow: hidden;
}

#completeScreen:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

#completeLogo {
  position: absolute;
  z-index: 6;
  top: 4px;
  left: 165px;
  width: 120px;
  height: 39px;
  background: url("img/logo.png") center no-repeat;
  cursor: pointer;
}

#completeReturn {
  position: absolute;
  top: 9px;
  left: 0;
  width: 160px;
  height: 30px;  
  font: 16px Raleway;
  line-height: 30px;
  border-radius: 0 15px 15px 0;
  background: rgba(18,18,18,0.5);
  color: #fff;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
}

#completeReturn:hover {
  background: #086ad9;
}

#completeBg {
  position: relative;
  width: 80%;
  max-width: 800px;
  min-width: 300px;
  display: inline-block;
  vertical-align: middle;
  margin-top: -45px;
  opacity: 1;
  -webkit-transform: rotate(-4deg);
  -moz-transform: rotate(-4deg);
  transform: rotate(-4deg);
  -webkit-transition: all 0.5s 0.3s;
  -moz-transition: all 0.5s 0.3s;
  transition: all 0.5s 0.3s;
}

.hidden #completeBg {
  opacity: 0;
  -webkit-transform: rotate(-15deg) scale(0.7);
  -moz-transform: rotate(-15deg) scale(0.7);
  transform: rotate(-15deg) scale(0.7);
}

#completeBg:before {
  content: '';
  position: absolute;
  top: 0;
  left: -3000px;
  width: 7000px;
  height: 100%;
  background: rgba(18,18,18,0.5);
}

#completeAd {
  width: 728px;
  height: 90px;
  left: 50%;
  margin-left: -364px;
  position: absolute;
  bottom: -105px;
  /*border: 4px solid rgba(18,18,18,0.5);*/
}

#completeContent {
  text-align: left;
  position: relative;
  z-index: 1;
  margin: 10px 0;
  padding: 10px 0;
}




#completeTitle {
  position: absolute;
  top: -66px;
  text-align: center;
  width: 100%;
  text-transform: uppercase;
  font: 66px "Squada One";
  color: rgba(18,18,18,0.5);
  cursor: default;
  height: 56px;
  overflow: hidden;
}


.completeInput {
  position: relative;
  margin: 10px auto;
  background: #121212;
  border: 2px solid #121212;
  border-radius: 6px;
  width: 100%;
  height: 56px;
  line-height: 56px;
  box-shadow: none;
  -moz-transition: 0.5s border;
  -o-transition: 0.5s border;
  -webkit-transition: 0.5s border;
  transition: 0.5s border;
}

  .completeInput.copied {
    border: 2px solid #d9da6c;
    -moz-transition: none !important;
    -o-transition: none !important;
    -webkit-transition: none !important;
    transition: none !important;
  }



#pasteDiv {
  -moz-user-select: all;
  -ms-user-select: all;
  -webkit-user-select: all;
  user-select: all;
}

.completeInput a {
  float: left;
  width: 112px;
  text-align: right;
  margin-right: 20px;  
  height: 56px;
  font: 200 17px Raleway;
  line-height: 56px;
  color: #fff;
  text-decoration: none;
}

.completeInput a:hover {
  text-decoration: underline;
}

.completeInputContainer {
  position: absolute;
  top: 0;
  left: 120px;
  right: 54px;
  bottom: 0;
}

.completeInput input {
  background: transparent;
  border: 0;
  outline: none;
  font: 200 15px Raleway;
  width: 100%;
  height: 56px;
  line-height: 56px;
  color: #999;

  -moz-user-select: all;
  -ms-user-select: all;
  -webkit-user-select: all;
  user-select: all;
}

#pageURL a {
  color: #aaa;
}

#deleteURL a {
  color: #942222;
}

#deleteURL input,
#pageURL input {
  color: #666;
}

.completeCopyButton {
  position: absolute;
  top: 2px;
  right: 2px;
  border-radius: 7px;
  width: 52px;
  height: 52px;
  background: #121212 url("img/copy.png") center no-repeat;
  cursor: pointer;
}

.completeCopyButton:before {
  content: '';
  position: absolute;
  top: 0;
  right: 100%;
  width: 60px;
  height: 56px;

  background-image: -webkit-gradient(linear, left center, right center, color-stop(0%, rgba(18,18,18,0)), color-stop(100%, rgba(18,18,18,1)));
  background-image: -webkit-linear-gradient(left, rgba(18,18,18,0) 0%, rgba(18,18,18,1) 100%);
  background-image: -moz-linear-gradient(left, rgba(18,18,18,0) 0%, rgba(18,18,18,1) 100%);
  background-image: -ms-linear-gradient(left, rgba(18,18,18,0) 0%, rgba(18,18,18,1) 100%);
  background-image: -o-linear-gradient(left, rgba(18,18,18,0) 0%, rgba(18,18,18,1) 100%);
  background-image: linear-gradient(to right, rgba(18,18,18,0) 0%, rgba(18,18,18,1) 100%);
}

.uncopyable .completeCopyButton {
  visibility: hidden;
}

.completeShare {
  text-align: center;
}

.completeShare a {
  display: inline-block;
  width: 70px;
  height: 70px;
  margin: 10px 10px 0 10px;
  background-image: url("img/shareicons.png");
}

.completeShareFacebook {background-position: -70px 0;}
.completeShareGplus {background-position: left;}
.completeShareTwitter {background-position: -140px 0;}
.completeShareTumblr {background-position: right;}

.completeShare a:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  transform: scale(1.1);
}

/* Maintain Mininum Viewport */

#minViewportSize {
  position: absolute;
  top: -10000px;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.9);
  z-index: 1000000;
  opacity: 0;
  -webkit-transition: opacity 0.7s, top 0.01s 0.7s;
  -moz-transition: opacity 0.7s, top 0.01s 0.7s;
  transition: opacity 0.7s, top 0.01s 0.7s;
}

.viewportWarningText {
  position: absolute;
  width: 80%;
  margin: 0 10%;
  top: 50%;
  margin-top: -40px;
  height: 80px;
  text-align: center;
  color: #fff;
  font: 24px "Contrail One";
}


.viewportHeightArrows,
.viewportWidthArrows {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.viewportHeightArrows:before,
.viewportHeightArrows:after,
.viewportWidthArrows:before,
.viewportWidthArrows:after {
  content: '';
  position: absolute;
  height: 0;
  width: 0;
  opacity: 0;
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  transition: opacity 1s;
}

.viewportHeightArrows:before {  
  top: 10px;
  left: 50%;  
  border-bottom: 16px solid #fff;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
}

.viewportHeightArrows:after {
  bottom: 10px;
  left: 50%;
  border-top: 16px solid #fff;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
}

.viewportWidthArrows:before {
  left: 10px;
  top: 50%;
  border-right: 16px solid #fff;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
}

.viewportWidthArrows:after {
  right: 10px;
  top: 50%;
  border-left: 16px solid #fff;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
}

@media only screen and (max-width: 1000px) { 
  #minViewportSize {
    top: 0;
    opacity: 1;
    -webkit-transition: opacity 0.7s, top 0.01s 0s;
    -moz-transition: opacity 0.7s, top 0.01s 0s;
    transition: opacity 0.7s, top 0.01s 0s;
  }

  .viewportWidthArrows:before {
    opacity: 1;
  }

  .viewportWidthArrows:after {
    opacity: 1;
  }
}

@media only screen and (max-height: 500px) {
  #minViewportSize {
    top: 0;
    opacity: 1;
    -webkit-transition: opacity 0.7s, top 0.01s 0s;
    -moz-transition: opacity 0.7s, top 0.01s 0s;
    transition: opacity 0.7s, top 0.01s 0s;
  }

  .viewportHeightArrows:before {
    opacity: 1;
  }

  .viewportHeightArrows:after {
    opacity: 1;
  }
}


/* Screens less than 1400px wide */
@media only screen and (max-width: 1890px) { 
  .mac .shortcut-action {
    font-size: 15px;
  }
}

/* Screens less than 1730px wide */
@media only screen and (max-width: 1730px) { 
  .mac .shortcut-action {
    font-size: 14px;
  }

  .mac .shortcut-keys span {
    font-size: 13px;
  }
}


/* Screens less than 1260px wide */
@media only screen and (max-width: 1260px) { 
  .intro-col-title {
    font-size: 28px;
  }

  .intro-col-subtitle {
    font-size: 15px;
  }

  #createCanvas {
    font-size: 17px;
    left: 63px;
  }

  .canvas-size-option {
    font-size: 18px;
  }

  .canvas-size-option input {
    font-size: 18px;
    width: 45px;
  }

  .canvas-size-option span {
    padding: 0 6px;
    font-size: 14px;
  }
}

@media only screen and (max-width: 1130px) {  
  
}

/* Screens less than 1000px wide */
@media only screen and (max-width: 1040px) {
  .shortcut-action {
    font-size: 14px;
  }

  .shortcut-keys span {
    font-size: 13px;
  }

  #createCanvas {
    font-size: 15px;
  }
}